# Q1 - In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

'*'

'hello'

-87.8

- 

/

'+'

6



* Value - Number(either 'integer' or 'float') or any 'string'

* Expression - It is mathematical operators. A combination of operands and operators is called an expression. The expression in Python produces some value or result after being interpreted by the Python interpreter.

##### *  ->  Expression

'hello'  ->  Value (String)

-87.8  ->  Value (Float)

**-**  ->  Expression (subtraction)

/  ->  Expression (division)

**+**  ->  Expression (addition)

6  ->  Value (integer)

# Q2 -  What is the difference between string and variable?

### Variable

It is a container to store value. Memory is used to save the variable.

Eg -> a = 10

Here 'a' is a variable to store the value 10.

### String

* String is a datatype in python.
* String is a sequence of characters. 
* Characters can be
    - Alphabets(A-Z) and (a-z)
    - Digits (0-9)
    - White space(space)
    - Special Characters(#,@,...)

* They can be defined using single , double or triple quotes

Eg -> str1 = 'Priyanka@08'

Here 'Priyanka@08' is a string

In [1]:
str1 = 'Priyanka@08'
print(type(str1))

<class 'str'>

# Q3 - Describe three different data types?

### Three different types of datatypes:

1. Lists:

* It is an ordered collection of data. 
* It is mutable type of datastructure.
* It can contain multiple type of datatypes inside it. 
* It is declared inside square brackets[ ].

Eg-

In [2]:
list1 = [1, 2, 'Tom', [4, 5]]
print(list1)

[1, 2, 'Tom', [4, 5]]

2. Tuples:

* It is an ordered collection of data.
* It is immutable type of datastructure.
* It can contain multiple type of datatypes inside it.
* It is declared inside round brackets().

Eg-

In [3]:
tup1 = (1, 2, 'Tom', [4, 5])
print(tup1)

(1, 2, 'Tom', [4, 5])

3. Dictionary:

* It has key value pair form of data.
* It doesnot support indexing.
* Value can be accessed using key in a dictionary.
* It is declared inside curly braces{ } with it's key value pair.

Eg -

In [4]:
dict1 = {'Name': 'Tom', 'Subject': 'English', 'Marks': 90}
print(dict1)

{'Name': 'Tom', 'Subject': 'English', 'Marks': 90}

# Q4 - What is an expression made up of? What do all expressions do?

* It is a combination of 'operands' and 'operators' .
* This combination produces another result after being interpreted by python interpreter.
* An expression in Python can contain identifiers, operators, and operands
* Operators follow precedence order. If the expression contains multiple operators then the precedence order is followed.

Eg-

In [5]:
x = 25          # a statement
x = x + 10      # an expression

print(x)

35

# Q5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?

* A statement is used for - 
1. Creating variables
2. Displaying values
* A statement may not be evaluated for some results.

Eg -

In [9]:
spam = 10      # a statement

print(spam)    # a statement
print('Tom')   # a statement

10
Tom

## Expression v/s Statement

### Expression

* An expression evaluates to a value.
* Evaluation of an expression always Produces or returns a result value.
* Every expression canâ€™t be a statement.
* Expressions are unique in meaning, while statements are two-sided in execution.

Eg -

In [2]:
a = 3
a = a + 10
print(a)

13

### Statement

* A statement executes something.
* Execution of a statement may or may not produces or displays a result value, it only does whatever the statement says.
* Every statement can be an expression.
* Statements create side effects to be useful, while expressions are values or execute to values.

Eg-

In [3]:
x = 3 
print(x)

3

# Q6 After running the following code, what does the variable bacon contain?bacon = 22       bacon + 1

In [7]:
bacon = 22
bacon + 1
print(bacon)

22

* Variable bacon will contain '22' as it's value because variable is not assigned with the update. Hence it will not be updated and not stored in the memory.

# Q7 What should the values of the following two terms be?('spam' + 'spamspam'),('spam' * 3)

In [8]:
print('spam' + 'spamspam')

spamspamspam

In [9]:
print('spam' * 3)

spamspamspam

# Q8 Why is eggs a valid variable name while 100 is invalid?

* For creating a variable it is a rule that variable name can be made with 'string' character or combination of first 'string' and then 'number'.
* A variable name can't start with a number or will consist of only numbers. 

"100" is invalid as a variable name because it starts with a digit.

# Q9 What three functions can be used to get the integer, floating-point number, or string version of a value?

* int(): This function is used to convert a value to an integer.

In [17]:
num = int(3.14)
print(num) 
print(type(num))

3
<class 'int'>

* float(): This function is used to convert a value to a floating-point number.

In [16]:
num = float(42)
print(num)
print(type(num))

42.0
<class 'float'>

* str(): This function is used to convert a value to a string representation.

In [15]:
text = str(42)
print(text)
print(type(text))

42
<class 'str'>

# Q10 Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

* 'I have eaten ' + 99 + ' burritos.' -> This causes error because Concatenation is possible only in between strings.

* To fix the error the number requires to be changed to type string.
99 is changed to string by putting quotes.

In [20]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'